*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-background{
	background-image: url("../assets/img/night.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
	text-align: center;
	display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh
}

.kitten-small{
	display: inline-block;
	width:50%;
	height:auto;		
}

.none-medium{
	display: none;
}

.none-large{
	display: none;
}

@media (min-width: 992px) {
	.image-background{
	  background-image: url("../assets/img/sunny-day.jpg");
	}

	.kitten-medium{
		display: inline-block;
		width:50%;
	  height:auto;      
	}
	.none-small{
		display: none;
	}
	
  .none-large{
		display: none;
	}
}

@media (min-width: 1200px) {
	.image-background{
	  background-image: url("../assets/img/dawn.png");  
	}

	.kitten-large{
		display: inline-block; 
		width:70%;
	  height:auto;   
	}

	.none-small{
		display: none;
  }
		
	.none-medium{
		display: none;
	}
}



